:root {
  --dark-primary-color: #1E1E1E;        /* Dark gray for primary background */
  --dark-tertiary-color: #757575;       /* Medium gray for tertiary elements */
  --dark-text-color: #F5F5F5;           /* Off-white for text */
  --accent-color-dark: #00CC88;         /* Desaturated green for accents */
  --dark-background: #121212;           /* Very dark gray for backgrounds */
  --dark-border-color: #555555;         /* Medium gray for borders */
}

.cowsay {
  color: var(--accent-color-dark);
}

.saying{
  color: var(--accent-color-dark);
}

.post-tags .post-tag a {
  color: var(--accent-color-dark);
  border-color: var(--accent-color-dark);
}

thead {
  background-color: var(--td-dark-background);
  color: var(--td-dark-text-color);
}

tbody {
  background-color: var(--td-dark-background);
  color: var(--td-dark-text-color);
}

th, td {
  border: 1px solid var(--td-dark-border-color);
}

/* Optionally, you can also set the stroke if needed */
.mermaid svg * {
  stroke: var(--dark-text-color) !important; /* Example: Set the stroke to black for visibility */
}


.post-toc {
  border-left: 5px solid var(--accent-color-dark); /* Width, style, and color */
  padding-left: 20px; /* Add some padding to space the content from the border */
  color: var(--accent-color-dark);
}

.social-icon a svg path:hover {
  fill: var(--accent-color-dark);
}

a:hover{
  color: var(--accent-color-dark);
}

#find-me-at {
  color: var(--accent-color-dark);
}

#Badgesandcreds{
  color: var(--dark-primary-color);
}

h1, h2, h3, h4, h5, h6{
  color: var(--accent-color-dark);
}

html {
  background-color: var(--dark-primary-color);
  color: var(--dark-text-color);
  fill: var(--dark-text-color);
}

.header {
  background-color: var(--dark-primary-color);
}

.nav-hamburger-list {
  background: var(--dark-primary-color);
}

.nav-links .nav-icons-divider {
  color: var(--dark-secondary-color);
}

a:hover .feather-moon {
  fill: white;
  color: white;
}

.social-icons{
  border-left: 5px solid var(--accent-color-dark); /* Width, style, and color */
}

.social-icons-list .social-icon,
.social-icons-list .social-icon a:visited  {
  fill: var(--dark-text-color);
}

.social-icons-list .social-icon a:hover {
  fill: var(--accent-color-dark);
}

.social-icons .social-icons-list .social-icon a {
}

.post-tags .post-tag:hover {
  background-color: var(--dark-text-color);
  color: var(--dark-primary-color);
}

.tags-list .post-tags .post-tag a .tag-posts-count {
  background-color: var(--dark-secondary-color);
}

.tags-list .post-tags .post-tag:hover a .tag-posts-count {
  background-color: var(--dark-text-color);
  color: var(--dark-primary-color);
}

.footer {
  border-top-color: var(--dark-header-bg-color);
}

blockquote {
  color: darkgrey;
  border-left-color: var(--dark-secondary-color);
}

hr {
  color: var(--dark-secondary-color);
}

code,
pre {
  background-color: var(--dark-secondary-color) !important;
}

:not(pre) > code {
  color: var(--dark-text-color);
}

a:hover  {
  color: var(--accent-color-dark);
}

.nav-title a {
  color: var(--accent-color-dark);
}