<footer class="parent">
    <div class="div1">
        <p>Find me at</p>
        <div class="social-icons">
            <div class="twitter">
                <a href="https://x.com/mohd_somayyah" aria-label="Find me at Twitter">
                    <img alt="Follow me on Twitter" class="ft-svg-inject" src="/svg/icons/twitter.svg" />
                </a>
            </div>
            <div class="youtube">
                <a href="https://www.youtube.com/@waturiuiuiuizifa" aria-label="Find me at YouTube">
                    <img alt="Follow me on YouTube" class="ft-svg-inject" src="/svg/icons/youtube.svg" />
                </a>
            </div>
            <div class="email">
                <a href="mailto:watari@techwebunraveled.xyz" aria-label="Email me">
                    <img alt="Email me" class="ft-svg-inject" src="/svg/icons/email.svg" />
                </a>
            </div>
            <div class="bsky">
                <a href="https://bsky.app/profile/watariuiuiuizifa.bsky.social" aria-label="Find me at Bsky">
                    <img alt="Follow me on Bsky" class="ft-svg-inject" src="/svg/icons/bsky.svg" />
                </a>
            </div>
            <div class="rss">
                <a href="" aria-label="RSS Feed">
                    <img alt="RSS Feed" class="ft-svg-inject" src="/svg/icons/rss.svg" />
                </a>
            </div>
        </div>
    </div>
    <div class="div2">
        <form class="ft-form" name="contact" method="POST" data-netlify="true">
            <div class="ft-form-group">
                <label for="ft-name" class="ft-label">Name</label>
                <input type="text" placeholder="Your name" id="ft-name" name="name" class="ft-input" required />
            </div>
            <div class="ft-form-group">
                <label for="ft-email" class="ft-label">Email</label>
                <input type="email" placeholder="Please enter a valid email" id="ft-email" name="email" class="ft-input" required />
            </div>
            <div class="ft-form-group">
                <label for="ft-message" class="ft-label">Message</label>
                <textarea id="ft-message" placeholder="Tell me" name="message" class="ft-textarea" required></textarea>
            </div>
            <button type="submit" class="ft-submit">Send Message</button>
        </form>
    </div>
    <div class="div3">
        <span class="ft-copyright-text">&copy; {{ now.Year }} watari@techwebunraveled.xyz</span>
    </div>
</footer>