{{ if .Store.Get "hasMermaid" }}
<script type="module">
import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
mermaid.initialize({ startOnLoad: true });
</script>
{{ end }}
<div class="post container">
    <div class="post-header-section">
        <h1>{{ .Title }}</h1>
        <small role="doc-subtitle">{{ .Description }}</small>
        <p class="post-date">{{ dateFormat (or .Site.Params.dateFormat "January 2, 2006") .Date }}
        {{ if lt .Date .Lastmod }} | Updated {{ dateFormat .Site.Params.dateFormat .Lastmod }}{{ end }}
        </p>

        <ul class="post-tags">
        {{ range .Params.tags }}
            <li class="post-tag"><a href="{{ "/tags/" | absLangURL }}{{ . | urlize }}">{{ . }}</a></li>
        {{ end }}
        </ul>
    </div>

    <div class="post-content">
        <div class="post-main-content">
            <p>{{ .Content }}</p>
            <div class="post-comments">
                {{ partial "giscus.html" . }}
            </div>
        </div>

        <!-- Add Table of Contents to the side -->
        <div class="post-toc">
            {{ .TableOfContents }}
        </div>
    </div>
    {{ if .Site.Params.CustomCommentHTML }}
    <div id="comments">
        {{ .Site.Params.CustomCommentHTML | safeHTML }}
    </div>
    {{ end }}
</div>
