{{ define "main" }}

<div class="flex-container">
    <!-- Home About Section -->
    <section class="home-about">
        <div class="avatar">
            {{ if isset .Site.Params "avatarurl" }}
            <img class={{ .Site.Params.AvatarSize | default "size-m" }} src='{{ .Scratch.Get "avatarImgSrc" }}' alt="{{ .Site.Params.AvatarAltText|default "avatar" }}" />
            {{ end }}
        </div>
    
        <h1>{{ .Site.Title }}</h1>
        {{ if isset .Site.Params "description" }}
            <h3>{{ .Site.Params.Description }}</h3>
            <p><b>Hey there!</b><br>
            <br>So, you've stumbled into my little corner of the web. I'm just a techie who's obsessed with all things <b><span class="tech">Linux</span></b>, <b><span class="tech">Blockchain</span></b>, and, well... let's just say I've dabbled in a bit of <b><span class="tech">ethical hacking</span></b> too 😇 . Got bitten by the <b><span class="tech">programming</span></b> bug and now I can't help but share all the cool (and sometimes frustrating) stuff I've learned. From diving into the deep end of <b><span class="tech">cybersecurity</span></b>, geeking out on <b><span class="tech">AI</span></b>, to trying to make sense of personal finance, I'm all in. Heck, even threw in some self-growth lessons (because why not?). If you're up for a wild ride through the digital jungle, decoding this mad spiderweb of tech with me, you're in the right place.<br><br><b>Let's figure this stuff out together!<b></p>
        {{ end }}
    
    </section>

    <!-- Social Icons Section -->
    {{ if isset .Site.Params "socialicons" }}
    
    <section class="social-icons">
        <p id="find-me-at">Find me at</p>
        <ul class="social-icons-list">
            {{ range .Site.Params.SocialIcons }}
            <li class="social-icon">
                <a href="{{ .url }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} aria-label="Find me at {{ .name }}">
                    <img class="svg-inject" src="/svg/icons/{{ .name }}.svg" />
                </a>
            </li>
            {{ end }}
        </ul>
        <br>
        <strong><p id="Badgesandcreds">Badges and Certificates</p></strong>
        <br><img src="https://tryhackme-badges.s3.amazonaws.com/waturiuiuiuizifa.png" width="150" alt="TryHackMe badge">
        <br><br><div class="creds">
            <a href="https://www.credly.com/badges/6e3a6399-268d-4614-9c13-c2eef14fed7c/public_url"><img alt="Cisco Security professional Certificate Badge" src="images/cisco-certified-network-professional-security-ccnp-security.webp"></a>
            <a href="https://www.credly.com/badges/8037ce47-c2cd-422d-b385-48d6b4edcf2b/public_url"><img alt="Cisco SISE Certificate Badge" src="images/cisco-certified-specialist-security-identity-management-implementation-_1_.webp"></a>
        </div>
    </section>
    {{ end }}
</div>


<div class="flex-break"></div>


{{ if os.FileExists "index-about.md" }}
<div class="markdown-content">
    {{ readFile "index-about.md" | markdownify }}
</div>
{{ end }}

{{ if isset .Site.Params "showpostsonhomepage" }}

    <div class="home-posts list-posts">
        <h2>{{ i18n (.Site.Params.ShowPostsOnHomePage | humanize) }} Posts</h2>

    {{ $posts := where .Site.Pages "Params.type" "post" }}

    {{ if eq .Site.Params.ShowPostsOnHomePage "popular" }}
        {{ range $posts.ByWeight | first 4 }}
            {{- partial "list-posts.html" . -}}
        {{ end }}
    {{ else if eq .Site.Params.ShowPostsOnHomePage "recent" }}
        {{ range $posts.ByDate.Reverse | first 4 }}
            {{- partial "list-posts.html" . -}}
        {{ end }}
    {{ end }}
    </div>

{{ end }}
{{ end }}
