{{ define "main" }}

<div class="flex-container">
    <!-- Home About Section -->
    <section class="home-about">
        <div class="avatar">
            {{ if isset .Site.Params "avatarurl" }}
            <img width="122.5" height="122.5" class="{{ .Site.Params.AvatarSize }}" src="{{ .Scratch.Get "avatarImgSrc" }}" alt="{{ .Site.Params.AvatarAltText | default "avatar" }}" />
            {{ end }}
        </div>
    
        <h1>{{ .Site.Title }}</h1>
        {{ if isset .Site.Params "description" }}
            <h2>{{ .Site.Params.Description }}</h2>
            <p>Hey there!<br>
            <br>Welcome to my experimental space on the web. I’m driven by curiosity and constantly find myself diving into Linux, networking, and ethical hacking—trying to see how everything fits together or falls apart. I love digging into tech, asking questions, and testing out random ideas just to see what happens. This blog is a snapshot of my messy, often frustrating, but always rewarding learning journey. If you’re into experimenting and figuring things out on the fly, you’ll probably feel right at home here</b></p>
        {{ end }}
    
    </section>

    <!-- Social Icons Section -->
    {{ if isset .Site.Params "socialicons" }}
    
    <section class="social-icons">
        <p id="find-me-at">Find me at</p>
        <ul class="social-icons-list">
            {{ range .Site.Params.SocialIcons }}
            <li class="social-icon">
                <a href="{{ .url }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} aria-label="Find me at {{ .name }}">
                    <img alt="Follow me on {{ .name }}" class="svg-inject" src="/svg/icons/{{ .name }}.svg" />
                </a>
            </li>
            {{ end }}
        </ul>
        <br>
        <strong><p id="Badgesandcreds">Badges and Certificates</p></strong>
        <br><br><div class="creds">
            <a href="https://www.credly.com/badges/6e3a6399-268d-4614-9c13-c2eef14fed7c/public_url"><img alt="Cisco Security professional Certificate Badge" src="/images/cisco-certified-network-professional-security-ccnp-security.webp"></a>
            <a href="https://www.credly.com/badges/8037ce47-c2cd-422d-b385-48d6b4edcf2b/public_url"><img alt="Cisco SISE Certificate Badge" src="/images/cisco-certified-specialist-security-identity-management-implementation-_1_.webp"></a>
        </div>
    </section>
    {{ end }}
</div>


<div class="flex-break"></div>


{{ if (os.FileExists "index-about.md") }}
<div class="markdown-content">
    {{ readFile "index-about.md" | markdownify }}
</div>
{{ end }}

{{ if isset .Site.Params "showpostsonhomepage" }}

    <div class="home-posts list-posts">
        <h2>{{ i18n (.Site.Params.ShowPostsOnHomePage | humanize) }} Posts</h2>

    {{ $posts := where .Site.Pages "Params.type" "post" }}

    {{ if eq .Site.Params.ShowPostsOnHomePage "popular" }}
        {{ range $posts.ByWeight | first 4 }}
            {{- partial "list-posts.html" . -}}
        {{ end }}
    {{ else if eq .Site.Params.ShowPostsOnHomePage "recent" }}
        {{ range $posts.ByDate.Reverse | first 4 }}
            {{- partial "list-posts.html" . -}}
        {{ end }}
    {{ end }}
    </div>

{{ end }}
{{ end }}
